* {
  margin: auto 0;
  padding: 0;
}

/* CSS LOADING SPINNER STARTS HERE */
.loader-holder {
  display: flex;
  justify-content: center;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

/* CSS LOADING SPINNER ENDS HERE */

.hidden {
  display: none !important;
}

.container {
  max-width: 768px;
}

.header {
  position: fixed;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.column {
  flex-direction: column;
}

.margin-auto {
  margin: auto;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 5;
}

.top-movies {
  padding: 1rem;
  text-decoration: underline;
}

.poster {
  height: 250px;
  min-width: 125px;
}

.our-motto {
  margin: auto;
  width: 65%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.arrow-next {
  top: 50%;
  right: 10px;
  z-index: 2;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-prev {
  top: 50%;
  left: 10px;
  z-index: 2;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommended-movie-width {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.recommended-movie-item {
  width: 25%;
}

.recommended-movie-container {
  padding: 0 0.2rem;
  margin: 0 0.1rem;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex: 0 0 15%;
}

.recommended-container {
  overflow-x: scroll;
}

.header-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 100px;
}

.header-left {
  display: flex;
}

.header-left > #my-list,
.header-left > #home {
  margin: 0.5rem;
}

.header-right {
  display: flex;
}

.header-right > div.input {
  margin: 0.5rem;
}

.search {
  width: 80px;
  text-indent: 5px;
}

#search-button {
  display: none;
}

.homepage-image {
  width: 90%;
  border-radius: 2.5%;
}

.homepage-image-container {
  display: flex;
  justify-content: center;
}

.homepage-second-background {
  width: 90%;
  line-height: 2rem;
  padding: 1rem 0;
  border-radius: 2.5%;
}

.black-background {
  height: 100vh;
}

.homepage-text-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.homepage-text {
  text-align: center;
  align-items: center;
  padding: 1rem 2rem;
}

#homepage-background {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 1%;
}

.results-title-container {
  padding: 1rem 3rem;
  align-items: center;
  text-align: center;
}

.results-image-container {
  width: 300px;
  display: flex;
  margin: auto;
}

.results-image {
  width: 100%;
}

.results-learn-more-container {
  padding: 1rem;
}

.results-learn-more {
  padding: 0.5rem;
  border-radius: 1rem;
}

.result-page {
  width: 50%;
}

.results-bg {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 1rem;
}

.more-info-bg {
  width: 75%;
  margin: auto;
}

.description-title-container {
  padding-bottom: 1rem;
}

.description-image-container {
  width: 175px;
  margin: auto;
}

.description-image {
  width: 100%;
}

.description-plot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}

.description-button-container {
  padding-top: 0.5rem;
}

.description-cast-container,
.description-genre-container,
.description-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-button {
  padding: 0.33rem;
}

/* CSS for Results Page Starts Here */

.results-header,
.description-header,
.my-list-header {
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 1rem;
}

/* turned off all image tags so adjustments might need to be made on search results
/* img {
  width: 60%;
} */

.homepage-banner {
  height: 14rem;
  width: 100%;
}

a {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

.results-background {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

.results-second-background {
  display: flex;
  flex-direction: column;
  height: 350px;
  text-align: center;
  padding: 1rem 0;
  width: 80%;
}

.movie-poster-container {
  display: flex;
  justify-content: center;
  height: 200px;
}

.title {
  padding: 0 0.5rem 1rem;
  font-size: 14px;
}

/* .learn-more {
  padding-top: 1rem;
  font-size: 16px;
} */

.movie-poster-container img {
  height: 200px;
}

/* CSS For Results Page Ends Here */

/* CSS For Description Page Starts Here */

.description-header {
  padding-bottom: 0.5rem;
}

.description-background {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

/* .description-image {
  padding: 1rem 0;
} */

.description-plot-header,
.description-cast-header,
.description-genre-header,
.description-score-header {
  padding: 0.5rem 0;
}

.description-plot {
  padding: 0 0.5rem;
}

.description-three-item-row {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  font-size: 15px;
}

.description-row {
  display: flex;
  justify-content: center;
}

.description-button {
  display: flex;
  justify-content: center;
}

.description-movie-poster-container {
  height: 250px;
}

.description-movie-poster-container img {
  width: 50%;
  height: 250px;
}

/* CSS For Description Page Ends Here */

/* CSS For My List Page Starts Here */

.two-item-row {
  display: flex;
  align-items: stretch;
}

.my-list-background {
  padding: 0.5rem;
}

.my-list-movie-poster {
  object-fit: fill;
  max-width: 40%;
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.5rem;
  border-radius: 3%;
}

.my-list-movie-details {
  display: flex;
  flex-direction: column;
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.5rem;
  text-align: center;
  border-radius: 3%;
}

.my-list-title {
  padding: 0.25rem 0;
}

.my-list-movie-description {
  padding: 0 0.5rem;
}

.my-list-three-item-row {
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
  font-size: 13px;
}

.my-list-h3 {
  padding: 0.5rem 0;
  font-size: 14px;
}

.my-list-title-info {
  font-size: 14px;
}

.my-list-paragraph {
  font-size: 13px;
}

.my-list-info {
  font-size: 13px;
}

.delete-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 1rem;
}

.section-on {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section-off {
  display: none;
}

.pop-up-modal {
  width: 50%;
  border-radius: 2.5%;
}

.pop-up-two-columns {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  overflow: auto;
}

.pop-up-question {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 1rem 0.25rem;
}

.pop-up-button-cancel {
  font-size: 15px;
}

.pop-up-button-confirm {
  font-size: 15px;
}

.no-entries-on {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  font-size: 20px;
}

/* CSS For My List Page Ends Here */

@media screen and (min-width: 650px) {
  .container {
    max-width: 2000px;
  }

  .our-motto {
    font-size: 30px;
  }

  .results-bg {
    width: 60%;
  }

  .recommended-container {
    overflow-x: hidden;
  }

  .search {
    width: 150px;
  }

  .only-mobile {
    width: 0;
    display: none;
  }

  #search-button {
    display: block;
  }

  #homepage-background {
    display: flex;
    padding: 1.5rem 1rem;
    margin-top: 6rem;
  }

  .homepage-image {
    height: 500px;
  }

  .homepage-text {
    font-size: 19px;
  }

  .header-left > #home,
  .header-left > #my-list {
    margin: 0.8rem;
  }

  .homepage-image-container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .homepage-second-background {
    width: 90%;
    line-height: 2rem;
    padding: 2rem 0;
    font-size: 35px;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .homepage-text-container {
    height: 500px;
    padding-top: 0;
    width: 100%;
  }

  /* CSS Media for Results Starts Here */

  .title {
    padding: 0 0.5rem 1rem;
    font-size: 20px;
  }

  .result-page {
    padding-top: 1rem;
  }

  .results-background {
    height: 400px;
  }

  .results-second-background {
    height: 350px;
  }

  .movie-poster-container {
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 200px;
  }

  .movie-poster-container img {
    height: 200px;
  }

  /* CSS Media for Results End Here */

  /* CSS Media for Description Page Starts Here */

  .description-background {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 20px;
  }

  .description-title {
    font-size: 40px;
  }

  /* .description-image {
    padding: 1rem 0;
  } */

  .description-plot-header,
  .description-cast-header,
  .description-genre-header {
    padding: 0.5rem 0;
    font-size: 30px;
  }

  .description-plot {
    padding: 0 0.5rem;
  }

  .description-three-item-row {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    padding-left: 3rem;
    padding-top: 1.5rem;
    font-size: 20px;
  }

  .description-movie-poster-container {
    height: 300px;
  }

  .description-movie-poster-container img {
    height: 300px;
  }

  /* CSS Media for Description Page Ends Here */

  /* CSS Media for My List Page Starts Here */

  .my-list-background {
    width: 70%;
    margin: auto;
  }

  .my-list-title-info {
    font-size: 20px;
  }

  .my-list-paragraph {
    font-size: 15px;
  }

  .my-list-three-item-row {
    padding-top: 3%;
    font-size: 15px;
  }

  .my-list-h3 {
    font-size: 20px;
  }

  .my-list-info {
    font-size: 15px;
  }

  .my-list-movie-poster {
    object-fit: fill;
    height: 400px;
  }

  .my-list-movie-details {
    height: 400px;
  }

  .pop-up-question {
    font-size: 35px;
  }

  .pop-up-button-cancel {
    font-size: 30px;
  }

  .pop-up-button-confirm {
    font-size: 30px;
  }

  .no-entries-on {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .our-motto {
    font-size: 40px;
  }

  .my-list-background {
    width: 70%;
  }

  .homepage-text {
    font-size: 30px;
  }

  .delete-button {
    font-size: 20px;
  }

  .pop-up-question {
    font-size: 40px;
  }

  .pop-up-button-cancel {
    font-size: 35px;
  }

  .pop-up-button-confirm {
    font-size: 35px;
  }

  .description-movie-poster-container {
    height: 400px;
    width: 70%;
    margin: 0 auto;
  }

  .description-movie-poster-container img {
    height: 400px;
  }
}
