html {
  background-color: black;
}

.white {
  color: white;
}

.arrow-color {
  color: rgb(244, 197, 24);
}

.arrow-color::before {
  background-color: #352e34;
  color: rgb(244, 197, 24);
}

.arrow-color:hover::before {
  color: #ca2422;
}

.black {
  color: black;
}

.vibrant-gray {
  background-color: #352e34;
}

.gray {
  background-color: #352e34;
}

.light-gray {
  background-color: rgb(26, 26, 26);
}

.header-row {
  background-color: #352e34;
  color: white;
}

.row {
  flex-direction: row;
}

.rounded {
  border-radius: 0.5rem;
}

#home,
.add-button,
.learn-more {
  cursor: pointer;
}

#homepage-background {
  background-color: rgb(255, 255, 255);
}

#my-list-header {
  color: #ca2422;
  cursor: pointer;
}

.homepage-second-background {
  background-color: #352e34;
  font-size: 18;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

.homepage-text {
  color: white;
}

.results-header,
.description-header,
.my-list-header {
  color: white;
  font-size: 40px;
}

#search-button {
  background-color: #352e34;
  border-color: white;
  color: white;
}

ul {
  list-style-type: none;
}

/* CSS For Results Page Starts Here */

.results-background,
.description-background,
.my-list-background {
  background-color: #352e34;
}

.results-second-background {
  background-color: rgb(217, 217, 217);
}

.description-background {
  color: white;
}

/* CSS For Results Page Ends Here */

/* CSS For My List Page Starts Here */

.my-list-movie-details {
  background-color: rgb(217, 217, 217);
}

.my-list-title {
  font-size: 25px;
}

.delete-button {
  border-color: rgb(217, 217, 217);
  color: red;
}

.pop-up-modal {
  background-color: white;
}

.section-on {
  background-color: rgb(0 0 0/ 70%);
}

.pop-up-button-cancel {
  color: green;
}

.pop-up-button-confirm {
  color: red;
}

.no-entries-on {
  color: white;
}

/* CSS For My List Page Ends Here */
